DB_HOST=localhost
DB_NAME=u902557766_nokbh
DB_USER=u902557766_Mnajashi122
DB_PASS=@Mm101010
JWT_SECRET=change-this-to-a-random-64-character-string
JWT_EXPIRY=86400
ALLOWED_ORIGINS=http://localhost:3000

# 4jawaly SMS
SMS_API_KEY=ltO6o19GrWxaRMZF7EehTzfplPA6UPBLjU0scnD6
SMS_API_SECRET=lS4wV9edqMR6jzt1qpC3rcDap6i3zXe3GhPxx3wKMy2PZx9OphBdHu1Unzfo6OKuIF7Yu8niP76qf8dHXcRojB2FoJBNHLg4unvk
SMS_SENDER=WillEDU
